body {
  width: 40em;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #444444;
  background-color: #F9F9F9;
  font-family: 'Droid Serif', serif;
}

h1, h2, h3, h4 { margin-top: 1.5em; margin-bottom: 0.5em; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1em; }

h1 a {
  text-decoration: none;
  color: #444444;
}

p, li {
  line-height: 140%;
}

pre {
  margin-left: 1em; 
}

code {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 0.8em;
}

footer {
  margin-top: 15em;
  font-size: 0.8em;
}

#lastModified {
  margin-top: 3em;
  font-size: 0.8em;
}
